
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center ;

    height: 100vh;
}

.domain_wrapper{
    height: 200px;
    width: 500px;
    display: flex;
    
    position: relative;
    justify-content: space-between;
}

.dmain_add{
    width: 33.33%;
    height: 100%;
    background-color: aquamarine;
}

.over{
    width: 36.33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: -10px;
    right: 32%;
    background-color: white;
    height: 226px;
    
  z-index:1000;
} 